<configuration>
    <variable name="LOG_LEVEL" value="${LOG_LEVEL:-INFO}" />

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>
                %d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n
            </Pattern>
        </layout>
    </appender>

    <appender name="METRICS" class="io.prometheus.client.logback.InstrumentedAppender" />

    <logger name="com.github.benmanes" level="TRACE" additivity="true">
        <appender-ref ref="CONSOLE" />
    </logger>

    <logger name="org.springframework.cache" level="TRACE" additivity="true">
        <appender-ref ref="CONSOLE" />
    </logger>

    <root level="${LOG_LEVEL}">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="METRICS"/>
    </root>
</configuration>
