<configuration>
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>[%d{yyyy-MM-dd HH:mm:ss}] [%level] [%file:%method:%line] %message%n</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>${dks.log.level.console}</level>
        </filter>
    </appender>

    <appender name="HEALTHCHECK-FILE" class="ch.qos.logback.core.FileAppender">
        <file>logs/healthcheck.log</file>
        <append>true</append>
        <encoder>
            <pattern>[%d{yyyy-MM-dd HH:mm:ss}] [%level] [%file:%method:%line] %message%n</pattern>
        </encoder>
    </appender>
    <!--
    The org.apache http library is used by the aws sdk to perform http requests with the aws backend.
    This library (the http one) outputs as debug the body of all the responses that come back from aws.
    If these responses contain sensitive information that will be written to the logs if debug mode is
    enabled. This occurred when a call to the aws library was executed to get a password out of the
    parameter store. The following config silences the http library.
    -->
    <logger name="org.apache" level="ERROR" additivity="true">
        <appender-ref ref="CONSOLE" />
    </logger>

    <logger name="healthcheck">
        <appender-ref ref="HEALTHCHECK-FILE"/>
    </logger>

    <root level="DEBUG">
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>